body{
    background-image: url(https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?w=826&t=st=1702583404~exp=1702584004~hmac=c97d31d68df7a39ec12ef7f000e15ac7d4f30fdc12e66f8f18d3526557796ed0);
    background-size: cover;
}
#h1{
    background-color: grey;
    margin: 0%;
    padding-top: 0%;
}
.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: rgb(48, 38, 38);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a{
    float: left;
    margin-left: 30;
    align-items: center;
}