body {
    background-image: url(img.jpg);
    background-size: center;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(35, 19, 19);
    padding: 10px;
    color: white;
}

nav {
    margin-left: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

nav a:hover {
    color: rgb(161, 157, 157);
    cursor: pointer;
}

button{
    font-size: larger;
    color: white;
    padding: 15px;
    background-color: rgb(35, 19, 19);
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

h1 {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007BFF;
    cursor: pointer;
}

#profile-pic-input {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

span {
    color: #007BFF;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}