body {
    background-image: url(https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?w=826&t=st=1702583404~exp=1702584004~hmac=c97d31d68df7a39ec12ef7f000e15ac7d4f30fdc12e66f8f18d3526557796ed0);
    background-size: cover;
}

#profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007BFF;
    cursor: pointer;
}

#profile-pic-input {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

span {
    color: #007BFF;
}